name: build-xs-rolling

on:
  push:
    branches:
      - rolling
  pull_request:
    branches:
      - rolling
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  xs-rolling:
    strategy:
      matrix:
        env:
          - {ROS_DISTRO: rolling, ROS_REPO: main}
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          path: src
      - uses: 'ros-industrial/industrial_ci@master'
        env: ${{matrix.env}}
